:root{
  --bg-color:rgb(0, 17, 92);
}

*{
    margin: 0;
    padding: 0;
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#navContainer{
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 100;
    height: 10vh;
    border-bottom: 0.1rem solid white;
}

#brandLogo{
    flex: 1;
    padding:10px 13px;
    width: 170px;

}
#brandLogo p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#close{
    width: 20px;
    padding-bottom:16px;
}

#hamburger{
    width: 50px;
    display: flex;
    align-items: center;
    padding: 18px 10px;
}

#hamburger:hover {
    cursor: grab;
}

#navigationContainer{
    background-color: rgb(0, 9, 47);
    width: 250px;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    top: 0;
    right: -100%;
    z-index: 100;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#navigationContainer ul{
    padding: 20px;
}

#navLinks{
    padding-top: 20px;
}

#navigationContainer a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

#navigationContainer a:hover{
    cursor: grab;
    border-bottom: 1px solid ;
    /* color: rgb(6, 255, 252); */
    color: rgb(255, 201, 6);
    transition: 0.8s;
}
#navigationContainer.open{
  right: 0;
}
/* NAVIGATION ENDS HERE */






/* THIS CODE HERE IS FOR THE SLIDER */

  #slider-container {
    position: relative;
    overrflow: hidden;
    width: 100vw;
    height: 60vh;
    max-width: 600px;
    margin: auto;
  }
/*
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    background: #000;
  }
.slide.one{
  width: 100vw;
  height: 80%;
  background: red;
  border: 1px solid red;
  margin: 2rem 0;
}
  #sliderImg {
    width: 100%;
    height: 40vh;
    opacity: 0.35;
    
  }

  .slide-text {
    posietion: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rebeccapurple;
    font-size: 29px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 35px;
  }

  #slide-button{
    padding: 8px 12px;
    border-radius: 100px;
    margin-top: 20px;
    border: none;
    background-color: rgb(255, 201, 6);
    color: black;
    font-weight: bold;
    font-size: 17px;
    cursor: grab;
  }

*/
  #prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #333;
    background-color:rgb(255, 201, 6);
    border: none;
    padding: 10px;
    outline: none;
  }

  #prev { left: 20px; }
  #next { right: 20px; }
  /* END OF SLIDER CODE */






  /* THIS CODE HERE IS FOR REVIEWS */

  #reviewsContainer{
    width: 100%;
    height: 30vh;
    overflow: hidden;
    padding: 0.5rem;
    /* background-color: rgb(6, 246, 255); */
    background-color: rgb(224, 224, 224);
   /* display: flex;
    flex-direction: column;*/
    background: #e9ecef;
  }
#totalReviews{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 0.7rem;
}
  #review{
    display: flex;
    padding: 7px 10px;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--bg-color);
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
  }

  #reviewNumber{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(0, 17, 92);
    font-size: 25px;
  }

  #reviewText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-w5eight: bold;
    color: rgb(43, 43, 43); 
    text-align: center;
  }

  /* END OF REVIEWS CODE */




  


  /* THIS CODE HERE IS FOR ABOUT US */

  #aboutUs{
    width: 90%;
    margin: 40px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  #aboutImageContainer{
    flex: 1;
    width: 100%;
  }

  #aboutImage{
    width: 100%;
  }

  #aboutInfoContainer{
    flex: 1;
    margin-top: 15px;
  }

  #aboutMini{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(123, 0, 255);
    font-size: 19px;
    
  }

  #aboutTitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 17, 92);
    font-size: 25px;
    margin-top: 8px;
  }

  #aboutInfoContainer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 6px;
  }
  #aboutSpan{
    display: none;
  }

  #aboutButton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: rgb(255, 201, 6);
    color: rgb(0, 17, 92);
    border: none;
    border-radius: 100px;
    padding: 15px 15px;
    font-weight: bold;
    margin-top: 10px;
  }

  #aboutButton:hover{
    transform: scale(1.08) translateX(8px);
    transition: 0.5s;
    background-color: rgb(0, 17, 92);
    color: white;
    margin-bottom: 10px;
    /* transform: translateX(2px); */
  }

  /* ABOUT US ENDS HERE */





  
/* THIS CODE HERE IS FOR OUR SERVICES */

#ourService{
    margin: 70px auto;
    width: 95%;
    overflow: hidden;
    text-align: center;
}

#ourServiceHeadInfo h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(123, 0, 255);
    font-size: 19px;
}

#ourServiceHeadInfo h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 17, 92);
    font-size: 25px;
    margin-top: 10px;
}

#serviceContainer{
    display: flex;
    flex-direction: column;
}

.serviceBox{
    width: 90%;
    border-radius: 20px;
    /* height: 550px; */
    /* border: 1px solid black; */
    overflow: hidden;
    margin: 30px auto;
    box-shadow: 0px 0px 20px -5px #989898;
    background-color: #ffffff;
    position: relative;
    transition: background-color 0.5s ease-in-out;
    padding: 2rem;
}

 .serviceBox:hover{
    background-color: rgb(0, 17, 92);
} 

.serviceBox .backgroundDrop{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 17, 92);
    transition: top 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceBox:hover .backgroundDrop{
    top: 0;
}


.serviceImg{
    width: 50%;
    padding-top: 40px;
}

.serviceBoxInfo{
    position: relative;
    z-index: 100;
}

.serviceHeading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 17px;
}

.serviceText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: 18px auto;
    width: 90%;
    line-height: 21px;
    
}

.serviceReadMore{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(0, 17, 92);
    border: none;
    padding: 17px 33px;
    border-radius: 100px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.serviceLink{
    text-decoration: none;
    color: white;
}

/* OUR SERVICES CODE ENDS HERE */









/* THIS CODE HERE IS FOR TESTIMONIALS */

.testimonialslider-container {
  margin: 30px auto;
  width: 100%;
  height: 600px;
  /* border: 1px solid black; */
  overflow: hidden;
  position: relative;
}

.testimonialslider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonialslide {
  min-width: 100%;
  box-sizing: border-box;
}

.testiimonialImg {
  width: 100%;
  height: auto;
}

.testimonialprev, .testimonialnext {
  /* position: absolute;
  top: 10%; */
  /* position: absolute;
  top: 635%; */
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: rgb(0, 24, 130);
  background-color: rgb(255, 201, 6);
  padding: 10px;
  border: none;
  border-radius: 5px;

}

.testimonialprev {
position: absolute;
left: 10px;
top: 50%;
}

.testimonialnext {
position: absolute;
right: 10px;
top: 50%;
}

.testimonialBox{
  width: 75%;
  /* border: 1px solid blue; */
  margin: 10px auto;
  /* height: 350px; */
  border-radius: 20px;
  background-color: rgb(0, 24, 130);
  box-shadow: 0px 0px 20px -5px #989898;
  padding-top: 20px;
  overflow: hidden;
}

.testimonialImgBox{
  width: 180px;
  height: 180px;
  border: 4px solid rgb(255, 201, 6);
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
  background-color: white;
}



.testimonialName{
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 15px;
}
.testimonialQuote{
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
}

.testimonialDuty{
  color: rgb(255, 201, 6);
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  padding-top: 18px;
  text-wrap: wrap;
}

#testimonialhr{
  width: 70px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
}

#testimonialTitle{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(123, 0, 255);
  font-size: 19px;
  text-align: center;

}

#testimonialsubhead{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 29px;
  padding-top: 15px;
}

/* TESTIMONIAL CODE ENDS HERE */









/* THIS CODE HERE IS FOR CONTACT US */


.homeContactContainer{
  width: 95%;
  overflow: hidden;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 5px;
}

#contactInfoText{
  width: 93%;
  overflow: hidden;
  margin: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contactInfoText h3{
  color: rgb(123, 0, 255);
  font-size: 19px;
}

#contactInfoText h1{
  font-size: 27px;
  margin-top: 10px;
}

#contactInfoText p{
  margin-top: 10px;
}

#contacthr{
  background-color: rgb(0, 24, 130);
  width: 250px;
  margin: 40px auto;

}


.contactContainer{
  width: 100%;
  /* border: 1px solid blue; */
  margin: 20px auto;
  background-color: rgb(255, 201, 6);
  border-radius: 17px;
}

.contactInfo{
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.contactBox{
  display: flex;
  width: 80%;
  margin: 40px auto 0px auto;
  background-color: white; 
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
}

.contactIcon{
  width: 70px;
  height: 70px;
  background-color: rgb(255, 201, 6);
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.contactIconImg{
  width: 26px;
  margin: auto;
} 

.contactIconEmailImg{
  width: 40px;
}

.contactIconCallImg{
  width: 30px;
}

.addressInfo{
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addressInfo p{
  /* border: 1px solid blue; */
  padding-top: 10px;
  width: 190px;
  text-wrap: wrap;
  font-weight: bold;
}


.mapContainer{
  width: 100%;
  overflow: hidden;
  margin: auto;
  border: 1px solid yellow;
  display: flex;
  background-color: rgb(0, 24, 130) ;
  border-radius: 16px;
}

#mapImage{
  width: 80%;
  margin: auto;
  padding: 40px 30px;
}


.contactformContainer{
  width: 95%;
  overflow: hidden;
  margin: 20px auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 201, 6);
  border-radius: 5px;
  text-align: center;
}

.formInfoBox{
  /* margin: 20px auto; */
  margin: 20px 0px;
}

.contactInput{
  font-size: 18px;
  padding: 22px 20px;
  border-radius: 14px;
  border: none;
  width: 70% ;
}

.contactButton{
  /* width: 80%; */
  margin: 0px auto 20px auto;
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px 25px;
  border: none;
  border-radius: 10px ;
  background-color: rgb(0, 24, 130);
  color: rgb(255, 255, 255);
}

.contactButton:hover{
  transform: scale(1.07);
  transition: 0.5s;
}

/* CONTACT US CODE ENDS HERE */








/* THIS CODE HERE IS FOR FOOTER */

footer{
  width: 100%;
  overflow: hidden;
  background-color: rgb(0, 17, 92);
  margin-top: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footerSections{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 20px auto 20px auto;
  
}

.footerBox{
  padding: 10px ;
}

.footerHead{
  color: rgb(255, 201, 6);
  font-size: 25px;
}

.footerBox p{
  color: white;
  margin-top: 15px;
}

#socials{
  display: flex;
  margin-top: 25px;
}

.footerSocialsContainer{
  width: 45px;
  height: 45px;
  background-color: white;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 8px;
  display: flex;
}

.footerSocialsContainer:hover{
  background-color: rgb(255, 201, 6);
  transform: scale(1.1);
  transition: 0.5s;
}

.footerSocials{
  width: 18px;
  margin: auto;
}

.footerfacebook{
  width: 12px;
  margin: auto;
}


.footerBox2{
  margin-top: 30px;
}

.footerBox2 ul{
  margin-left: 20px;
  margin-top: 15px;
  list-style-type: square white;
}

.footerBox2 ul a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footerBox2 ul li{
  padding-top: 8px;
  letter-spacing: 1px;
}

.footerBox2 ul li::marker{
  color: white;
}

.footerBox2 ul a:hover{
  color: aqua;
  cursor: grab;
  transition: 0.5s;
}


.footerContactInfo hr{

  margin-top: 20px;
}

.footerContactInfo li{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.footerContactInfo p{
  margin-left: 10px
}

.footerImage{
  width: 20px;
}

.footerBox3{
  margin-top: 30px;
}


#rights{
  margin: auto;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
  line-height: 25px;
}

#rightsSpan{
  color: rgb(255, 201, 6);
}





/* NAVIGATION MEDIA QUERY START HERE */

/* DESKTOP SIZE */

@media (min-width: 980px) {
  #hamburgerMenu{
    display: none;
  }

  #navigationContainer{
    display: block;
    background-color: transparent;
    position: absolute;
    width: auto;

  }

  #navigationContainer ul{
    display: flex;
    list-style: none;
  }

  #close{
    display: none;
  }

  #navLinks{
    padding: 10px 10px;
  }

  #navigationContainer a{
    font-weight: 600;
  }

  /* NAVIGATION ENDS HERE */


  /* SLIDER STARTS HERE */

  #slider-container{
    max-width: 100%;
  }

  .slide{
    height: 500px;
  }

  #sliderImg{
    width: 100%;
  }

  .slide-text{
    font-size: 45px;
    line-height: 46px;
  }

  #slide-button:hover{
    background-color: rgb(255, 201, 255);
    transition: 0.5s;
  }

  /* SLIDER ENDS HERE */


  /* REVIEWS STARTS HERE */


  #totalReviews{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1500px;
    overflow: hidden;
  }

  #reviewsContainer {
    flex-direction: row;
    background-color: #26d48c;
  }

  #review{
    padding: 60px 20px;
    margin: auto;
  }

  #reviewNumber{
    font-size: 30px;
    color: #3636ff;
  }

  #reviewText{
    color: white;
  }

   /* REVIEWS ENDS HERE */




   /* ABOUT US STARTS HERE */

   #aboutUs{
    flex-direction: row;
   }

   #abouUsContainer{
    display: flex;
    width: 1500px;
    overflow: hidden;
    margin: auto;
   }

   #aboutInfoContainer{
    margin-top: 0px;
    margin-left: 50px;
    width: 500px;
   }

   #aboutInfoContainer p{
    margin-top: 12px;
    color: #3d3d3d;
   }

   #aboutSpan{
    display:inline ;
  }

  /* ABOUT US ENDS HERE */





  /* SERVICES STARTS HERE */

  #ourService{
    background-color: #e7e7e7;
    padding-top: 30px;
  }

  #serviceContainer{
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
  }

  #ourServiceHeadInfo h1{
    font-size: 38px;
    width: 700px;
    text-align: center;
    margin: auto;
  }

  .serviceBox{
    width: 300px;
  }

  /* SERVICES ENDS HERE */




  /* TESTIMONIAL STARTS HERE */

  .testimonialslider-container{
    /* background-color: #ececec; */
  }

  .testimonialBox{
    width: 700px;
    border-radius: 40px 0px 40px 0px;
  }

  .testimonialQuote{
    width: 600px;
    margin: auto;
    font-weight: bold;
  }

  .testimonialprev{
    left: 18%;
  }
  .testimonialprev:hover{
    cursor: grab;
  }

  .testimonialnext{
    right: 18%;
  }
  .testimonialnext:hover{
    cursor: grab;
  }

  /* TESTIMONIAL ENDS HERE */



  /* CONTACT INFO STARTS HERE */

  .contactInfo{
    flex-direction: row;
  }

  #contactInfoText h1{
    font-size: 38px;
  }

  .contactBox{
    width: 300px;
  }
  /* CONTACT INFO ENDS HERE */




  /* FOOTER INFO STARTS HERE */

.footerSections{
  flex-direction: row;
  width: 1000px;
  overflow: hidden;
  justify-content: space-between;
}

.footerBox{
  width: 300px;
}

.footerBox2{
  margin-top: 0px;
  padding-left: 80px;
}

.footerBox3{
  margin-top: 0px;
  padding-left: 80px;
}



  
}





/* TABLET SIZE MEDIA QUERY */


/* SLIDER FOR SMALLER TAB SCREEN*/
@media (min-width:640px) {
  #slider-container{
    max-width: 100%;
  }

  .slide{
    height: 360px;
  }

  #sliderImg{
    width: 100%;
  }

  .slide-text{
    font-size: 45px;
    line-height: 46px;
  }

  #slide-button:hover{
    background-color: rgb(255, 201, 255);
    transition: 0.5s;
  }
}

@media (min-width: 768px){

  /* SLIDER STARTS HERE */
  #slider-container{
    max-width: 100%;
  }

  .slide{
    height: 530px;
  }

  #sliderImg{
    width: 100%;
  }

  .slide-text{
    font-size: 45px;
    line-height: 46px;
  }

  #slide-button:hover{
    background-color: rgb(255, 201, 255);
    transition: 0.5s;
  }

  

  /* SLIDER ENDS HERE */




  /* REVIEWS STARTS HERE */

  #totalReviews{
    padding: 0px 0px 0px 30px;
  }

  /* REVIEWS ENDS HERE */





  /* ABOUT US STARTS HERE */
  #aboutUs{
    flex-direction: row;
   }

   #abouUsContainer{
    display: flex;
    width: 1500px;
    overflow: hidden;
    margin: auto;
   }

   #aboutInfoContainer{
    margin-top: 0px;
    margin-left: 50px;
    width: 500px;
   }

   #aboutInfoContainer p{
    margin-top: 12px;
    color: #3d3d3d;
   }

   #aboutSpan{
    display:inline ;
  }

  #aboutSpan2{
    display: none;
  }

  /* ABOUT US ENDS HERE */






  /* SERVICES STARTS HERE */


  #ourService{
    background-color: #f1f1f1;
    padding-top: 30px;
  }

  #serviceContainer{
    flex-direction: row;
    flex-wrap: wrap;
    width: 1040px;
    margin: auto;
  }

  #ourServiceHeadInfo h1{
    font-size: 38px;
    width: 700px;
    text-align: center;
    margin: auto;
  }

  .serviceBox{
    width: 300px;
  }
  
  /* SERVICES ENDS HERE */






  /* TESTIMONIAL STARTS HERE */


  .testimonialslider-container{
    /* background-color: #ececec; */
  }

  .testimonialBox{
    width: 700px;
    border-radius: 40px 0px 40px 0px;
  }

  .testimonialQuote{
    width: 600px;
    margin: auto;
    font-weight: bold;
  }

  .testimonialprev{
    left: 3%;
  }
  .testimonialprev:hover{
    cursor: grab;
  }

  .testimonialnext{
    right:3%;
  }
  .testimonialnext:hover{
    cursor: grab;
  }

  /* TESTIMONIAL ENDS HERE */





  /* CONTACT INFO STARTS HERE */

  .addressInfo{
    margin-right: 270px;
  }

  /* CONTACT INFO ENDS HERE */

  
}


